@model MusicFall2016.Models.Album
@{ 
    ViewData["Title"] = "Details";
}
<h2>Details</h2>

<div>Title: @Model.Title</div>
<div>Artist: @Model.Artist.Name</div>
<div>Artist Bio: @Model.Artist.Bio</div>
<div>Genre: @Model.Genre</div>
<div>Price: @Model.Price</div>
